---
import Layout from "../layouts/Layout.astro";
import { Icon } from "astro-icon/components";
import { getCollection } from "astro:content";
const products = await getCollection("products");
---

<style>
  .products-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    justify-content: center;
  }
</style>

<Layout title="Products - Tranding Global Produce Rofim">
  <div
    class="flex w-full h-screen max-h-96 overflow-hidden text-left z-0 relative min-h-96 justify-items-start items-end"
  >
    <div class="z-30 relative pb-6 px-10 text-white">
      <div class="flex flex-col text-white">
        <ul class="text-[min(6vw,40px)] font-bold">
          <li class="flex">
            <span>Premium Quality</span>
          </li>
          <li class="flex">
            <span>Authentic Products</span>
          </li>
          <li class="flex">
            <span>Professional Excellence</span>
          </li>
        </ul>
      </div>
    </div>

    <div class="absolute top-0 bottom-0 w-full h-full z-10">
      <img
        class="object-center h-full w-full object-cover"
        src="/heroBgProducts.jpg"
        alt=""
      />
    </div>
  </div>
  <section class="flex flex-col pt-6 w-full h-full px-[24px] bg-secondary">
    <div class="flex justify-center items-center text-center">
      <h1 class="text-white font-bold border-b-2 border-acent text-4xl pt-4">
        Our Products
      </h1>
    </div>
    <div class="flex flex-col justify-center items-center text-center">
      <p
        class="text-white text-[12px] xs:text-[14px] sm:text-xl py-3 px-1 text-nowrap"
      >
        We offer a wide range of products from different categories
      </p>
      <div
        class="flex justify-center sm:self-end items-center text-center text-secondary bg-green-100 rounded-full px-4 py-2 transition-transform duration-300 hover:scale-105"
      >
        <a
          class="text-[16px] flex gap-2"
          href="https://drive.google.com/file/d/1lmR6_0v0gq2g_zisNjtIdXSHKal9EWel/view?usp=drive_link"
          target="_blank"
        >
          <Icon name="download" size={30} class="text-secondary" />
          Download our products catalog</a
        >
      </div>
    </div>

    <ul class="products-grid py-10 gap-4">
      {
        products.map((product: { data: any }) => {
          const { data } = product;
          const { title, img, category, slug } = data;
          return (
            <a href={`/product/${slug}`} class="">
              <li class="w-full flex flex-col pb-2 gap-2 justify-center items-center text-center bg-white rounded transition-transform duration-300 hover:scale-105">
                <img
                  loading="lazy"
                  src={img}
                  alt={title}
                  class="max-w-none w-50 h-50"
                />
                <p>{title}</p>

                {category == "Tropical" ? (
                  <span class="rounded-2xl px-2 text-[14px] font-medium text-secondary bg-green-100">
                    {category}
                  </span>
                ) : category == "Oriental" ? (
                  <span class="rounded-2xl px-2 text-[14px] font-medium text-orange-900 bg-orange-100">
                    {category}
                  </span>
                ) : (
                  <span class="rounded-2xl px-2 text-[14px] font-medium text-yellow-800 bg-yellow-100">
                    {category}
                  </span>
                )}
              </li>
            </a>
          );
        })
      }
    </ul>
  </section>
</Layout>
