---
import { Icon } from "astro-icon/components";
import { getI18N } from "@/i18n";
import { Image } from "astro:assets";
const { currentLocale } = Astro;
const i18n = getI18N({ currentLocale });
---

<style>
  .cards-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    justify-content: center;
  }
</style>

<section
  class="flex flex-col w-full max-h-[450px] overflow-hidden text-left z-0 relative min-h-96 justify-items-start items-end"
>
  <div class="w-full h-full absolute top-0 right-0 image">
    <!-- <Image
      class="object-top h-full w-full object-cover"
      src="/heroBgAbout.jpg"
      alt="Diverse Dominican agro-export plantation - Avocados, mangoes, and exotic vegetables for global buyers"
      width={50}
      height={50}
      format="jpg"
      quality={"mid"}
    /> -->
  </div>
</section>

<main
  class="flex bg-linear-to-r from-secondary to-white/10 justify-start items-center py-8 relative"
>
  <video
    src="/video.mp4"
    loop
    autoplay
    class="object-cover absolute h-full w-full -z-10 top-0 left-0"></video>

  <div
    class="flex flex-col justify-center items-start py-8 px-12 w-[800px] h-auto"
  >
    <div
      class="flex items-center justify-center bg-secondary rounded-2xl border-2 border-white/10 px-4 py-1"
    >
      <Icon name="circle" size={5} class="text-white mr-2" />
      <span class="text-white"> {i18n.ABOUT.BANNER_SPAN}</span>
    </div>
    <h1 class="font-bold md:text-6xl text-2xl text-white py-6">
      {i18n.ABOUT.BANNER_TITLE}
    </h1>
    <p class="font-normal text-xl text-white">
      {i18n.ABOUT.BANNER_P}
    </p>
  </div>
</main>

<section
  class="flex flex-col sm:flex-row gap-8 h-auto w-full bg-white px-4 py-4 sideUp"
>
  <div
    class="flex w-full h-auto shadow-md rounded-xl justify-center items-center"
  >
    <div class="p-6">
      <Image
        class="w-[300px] h-auto"
        src="/logo.webp"
        width={50}
        height={50}
        alt="Logo Tranding Global Produce Rofim"
        format="webp"
        quality={"mid"}
      />
    </div>
  </div>
  <div class="flex w-full h-auto justify-center items-center">
    <div class="flex flex-col px-2 py-5 justify-center items-start">
      <div
        class="flex items-center justify-center bg-green-100 rounded-2xl px-4 py-1"
      >
        <Icon name="calendar" size={20} class="text-secondary" />
        <span class="text-secondary"> {i18n.ABOUT.MAIN.MAIN_SPAN}</span>
      </div>
      <h1 class="py-6 text-2xl text-title font-bold">
        {i18n.ABOUT.MAIN.MAIN_TITLE}
      </h1>
      <p class="text-title/90 font-medium">
        {i18n.ABOUT.MAIN.MAIN_P1}
      </p>
      <p class="py-6 text-title/90 font-medium">
        {i18n.ABOUT.MAIN.MAIN_P2}
      </p>
      <footer class="flex gap-4 items-stretch">
        <div
          class="bg-green-100 px-10 py-4 text-center rounded w-1/2 flex flex-col items-center justify-center"
        >
          <p class="font-bold text-secondary text-3xl">
            {i18n.ABOUT.MAIN.FOOTER.FOOTER_CARD1.CARD_P1}
          </p>
          <p class="text-title/90">
            {i18n.ABOUT.MAIN.FOOTER.FOOTER_CARD1.CARD_P2}
          </p>
        </div>
        <div
          class="bg-green-100 px-10 py-4 text-center rounded w-1/2 flex flex-col items-center justify-center"
        >
          <p class="font-bold text-secondary text-3xl">
            {i18n.ABOUT.MAIN.FOOTER.FOOTER_CARD2.CARD_P1}
          </p>
          <p class="text-title/90">
            {i18n.ABOUT.MAIN.FOOTER.FOOTER_CARD2.CARD_P2}
          </p>
        </div>
      </footer>
    </div>
  </div>
</section>

<section
  class="flex flex-col items-center justify-center w-full h-auto py-8 bg-linear-to-t from-secondary/10 to-white/10"
>
  <h1 class="text-2xl font-bold text-title pb-6">
    {i18n.ABOUT.SECTION_PRINCIPLES.SECTION_TITLE}
  </h1>
  <p class="px-8 pb-6 font-medium text-title/90 text-center">
    {i18n.ABOUT.SECTION_PRINCIPLES.SECTION_TAGLINE}
  </p>
  <div class="flex gap-6 items-center sideUp">
    <div class="w-full h-auto py-4 px-12">
      <span
        class="bg-green-100 rounded-2xl text-secondary px-3 py-0.5 font-medium"
        >{i18n.ABOUT.SECTION_PRINCIPLES.MISSION.TITLE}</span
      >
      <h2 class="py-4 font-bold text-xl text-title">
        {i18n.ABOUT.SECTION_PRINCIPLES.MISSION.TAGLINE}
      </h2>
      <p class="py-4 text-title/90">
        {i18n.ABOUT.SECTION_PRINCIPLES.MISSION.P1}
      </p>
      <p class="text-title/90">
        {i18n.ABOUT.SECTION_PRINCIPLES.MISSION.P2}
      </p>
      <div class="cards-grid gap-3 py-6">
        <div class="flex items-center gap-1">
          <Icon
            name="leaf"
            size={40}
            class="text-secondary bg-green-100 rounded-full p-2"
          />
          <p class="text-title/90">
            {i18n.ABOUT.SECTION_PRINCIPLES.MISSION.CARD_1}
          </p>
        </div>
        <div class="flex items-center gap-1">
          <Icon
            name="global"
            size={40}
            class="text-secondary bg-green-100 rounded-full p-2"
          />
          <p class="text-title/90 text-nowrap">
            {i18n.ABOUT.SECTION_PRINCIPLES.MISSION.CARD_2}
          </p>
        </div>
        <div class="flex items-center gap-1">
          <Icon
            name="shield"
            size={40}
            class="text-secondary bg-green-100 rounded-full p-2"
          />
          <p class="text-title/90 text-nowrap">
            {i18n.ABOUT.SECTION_PRINCIPLES.MISSION.CARD_3}
          </p>
        </div>
      </div>
    </div>
    <div class="w-full h-auto hidden lg:flex sm:px-20 rounded-2xl">
      <Image
        src="/bannerAbout.jpg"
        class="w-full rounded-2xl"
        alt="High-quality tropical produce farm in DR - Reliable supply chain for international markets"
        width={50}
        height={50}
        format="jpg"
        quality={"mid"}
      />
    </div>
  </div>
  <div
    class="flex flex-col-reverse lg:flex-row w-full h-auto items-start justify-between sideUp"
  >
    <div
      class="w-full h-auto flex flex-col items-start justify-center px-12 py-6"
    >
      <span
        class="bg-green-100 rounded-2xl text-secondary px-3 py-0.5 font-medium"
        >{i18n.ABOUT.SECTION_PRINCIPLES.VALUES.TITLE}</span
      >
      <h2 class="py-4 font-bold text-xl text-title">
        {i18n.ABOUT.SECTION_PRINCIPLES.VALUES.TAGLINE}
      </h2>
      <div class="flex flex-col">
        <!-- values -->
        <div class="flex py-4 items-center justify-center">
          <Icon
            name="star"
            class="text-secondary text-4xl bg-green-100 px-2 rounded-full w-10"
          />
          <div class="pl-2 w-full">
            <h3 class="font-bold text-title">
              {i18n.ABOUT.SECTION_PRINCIPLES.VALUES.CARD_1.TITLE}
            </h3>
            <p class="text-title/90">
              {i18n.ABOUT.SECTION_PRINCIPLES.VALUES.CARD_1.P}
            </p>
          </div>
        </div>
        <!--  -->
        <div class="flex py-4 items-center justify-center">
          <Icon
            name="users"
            class="text-secondary text-4xl bg-green-100 px-2 rounded-full w-10"
          />
          <div class="pl-2 w-full">
            <h3 class="font-bold text-title">
              {i18n.ABOUT.SECTION_PRINCIPLES.VALUES.CARD_2.TITLE}
            </h3>
            <p class="text-title/90">
              {i18n.ABOUT.SECTION_PRINCIPLES.VALUES.CARD_2.P}
            </p>
          </div>
        </div>
        <!--  -->
        <div class="flex py-4 items-center justify-center">
          <Icon
            name="shield"
            class="text-secondary text-4xl bg-green-100 px-2 rounded-full w-10"
          />
          <div class="pl-2 w-full">
            <h3 class="font-bold text-title">
              {i18n.ABOUT.SECTION_PRINCIPLES.VALUES.CARD_3.TITLE}
            </h3>
            <p class="text-title/90">
              {i18n.ABOUT.SECTION_PRINCIPLES.VALUES.CARD_3.P}
            </p>
          </div>
        </div>
        <!-- values -->
      </div>
    </div>
    <div
      class="w-full h-full flex flex-col items-start justify-between px-12 py-6 sideUp"
    >
      <span
        class="bg-green-100 rounded-2xl text-secondary px-3 py-0.5 font-medium"
        >{i18n.ABOUT.SECTION_PRINCIPLES.VISION.TITLE}</span
      >
      <h2 class="py-4 font-bold text-xl text-title">
        {i18n.ABOUT.SECTION_PRINCIPLES.VISION.TAGLINE}
      </h2>
      <p class="text-title/90 font-medium leading-8 py-4">
        {i18n.ABOUT.SECTION_PRINCIPLES.VISION.P1}
      </p>

      <div class="cards-grid w-full gap-2 items-center py-4">
        <div
          class="flex flex-col rounded p-8 justify-center items-center w-full bg-white/60 shadow-sm"
        >
          <Icon
            name="global"
            size={40}
            class="text-secondary bg-green-100 rounded-full p-2"
          />
          <p class="text-title/90 text-[14px] whitespace-nowrap">
            {i18n.ABOUT.SECTION_PRINCIPLES.VISION.CARD_1}
          </p>
        </div>
        <div
          class="flex flex-col rounded p-8 justify-center items-center w-full bg-white/60 shadow-sm"
        >
          <Icon
            name="leaf"
            size={40}
            class="text-secondary bg-green-100 rounded-full p-2"
          />
          <p class="text-title/90">
            {i18n.ABOUT.SECTION_PRINCIPLES.VISION.CARD_2}
          </p>
        </div>
        <div
          class="flex flex-col rounded p-8 justify-center items-center w-full bg-white/60 shadow-sm"
        >
          <Icon
            name="medal"
            size={40}
            class="text-secondary bg-green-100 rounded-full p-2"
          />
          <p class="text-title/90">
            {i18n.ABOUT.SECTION_PRINCIPLES.VISION.CARD_3}
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<section
  class="flex flex-col justify-center items-center w-full mx-auto px-4 py-8 bg-linear-to-b from-secondary/10 to-white/10"
>
  <h2 class="text-2xl font-bold text-center text-title mb-6">
    {i18n.ABOUT.LEADERSHIP.SECTION_TITLE}
  </h2>
  <div class="bg-white rounded-lg shadow-md p-6 flex flex-col max-w-120 sideUp">
    <h3 class="text-4xl font-semibold text-green-600 mb-2 self-center">
      Joe Mota
    </h3>
    <p
      class="text-gray-600 mb-4 self-center underline decoration-acent font-medium"
    >
      {i18n.ABOUT.LEADERSHIP.LEADER_POSITION}
    </p>
    <p class="text-title/90 font-medium leading-8">
      {i18n.ABOUT.LEADERSHIP.LEADER_P}
    </p>
    <div class="flex py-4 gap-2 border-t-2 mt-4 border-gray-100">
      <a href="mailto:joe_rofim@hotmail.com">
        <Icon
          name="mail"
          size={40}
          class="text-secondary bg-green-100 rounded-full p-2 transition-transform duration-300 hover:scale-110"
        />
      </a>
      <a href="tel:+18093832022">
        <Icon
          name="phone"
          size={40}
          class="text-secondary bg-green-100 rounded-full p-2 transition-transform duration-300 hover:scale-110"
        />
      </a>
    </div>
  </div>
</section>

<style>
  .image {
    background-image: url("/heroBgAbout.jpg");
    height: 100%;
    width: 100%;
    background-size: cover;
    z-index: 20;
  }
</style>
