---
import HeroSearch from "../../components/HeroSearch.astro";
import HomeTabs from "../../components/HomeTabs.astro";
import { getCollection } from "astro:content";
import { Image } from "astro:assets";

import { getI18N } from "@/i18n";

const brands = await getCollection("brands");
const flags = await getCollection("flags");
const { currentLocale } = Astro;
const i18n = getI18N({ currentLocale });
---

<HeroSearch />
<HomeTabs />

<section class="w-full h-full bg-amber-700">
  <div>
    <Image
      loading="lazy"
      class="w-full h-full pointer-events-none"
      width={1920}
      height={1080}
      format="jpg"
      quality={"mid"}
      src="/bannerbg.jpg"
      alt="Dominican Agro-Exporter - Tranding Global Produce Rofim Bridges Tropical & Oriental Produce to Global Markets"
    />
  </div>
</section>

<section class="flex flex-col mt-6 w-full h-full">
  <div class="flex justify-center items-center text-center">
    <h1 class="text-title font-bold border-b-2 border-acent text-4xl pt-4">
      {i18n.HOME.BRANDS_TITLE}
    </h1>
  </div>
  <div class="flex overflow-hidden">
    <ul class="flex animate-loop-scroll py-10 gap-10">
      {
        [...brands, ...brands].map((brand: { data: any }) => {
          const { data } = brand;
          const { brandImg, brandAlt } = data;
          return (
            <li class="flex gap-2">
              <Image
                loading="lazy"
                src={brandImg}
                alt={brandAlt}
                class="max-w-none w-25 h-18 md:w-35 md:h-25"
                width={100}
                height={100}
                format="webp"
                quality={"mid"}
              />
            </li>
          );
        })
      }
    </ul>
  </div>
</section>

<section class="flex flex-col mt-6 w-full h-full">
  <div class="flex justify-center items-center text-center">
    <h1 class="text-title font-bold border-b-2 border-acent text-4xl pt-4">
      {i18n.HOME.EXPORT_TITLE}
    </h1>
  </div>
  <div class="flex overflow-hidden">
    <ul class="flex animate-loop-inverse py-10 gap-15">
      {
        [...flags, ...flags].map((flag: { data: any }) => {
          const { data } = flag;
          const { flagImg, flagAlt } = data;
          return (
            <li class="flex gap-2 shadow-md">
              <Image
                loading="lazy"
                src={flagImg}
                alt={flagAlt}
                class="max-w-none w-20 md:w-35 h-auto"
                width={100}
                height={100}
                format="svg"
                quality={"mid"}
              />
            </li>
          );
        })
      }
    </ul>
  </div>
</section>
