---
import { Icon } from "astro-icon/components";
import { Image } from "astro:assets";
import { getI18N } from "@/i18n";

const { currentLocale } = Astro;
const i18n = getI18N({ currentLocale });
---

<footer>
  <div
    class="h-auto bg-gray-100 sm:flex items-center justify-between text-center"
  >
    <div
      class="flex flex-col w-full h-full text-start justify-center py-10 px-5 text-secondary"
    >
      <h1 class="text-4xl font-bold pb-8">
        {i18n.FOOTER.FOOTER_TITLE}
      </h1>

      <div class="flex items-center justify-start pb-2">
        <Icon
          name="location"
          size={40}
          class="text-secondary bg-green-100 rounded-full p-2"
        />
        <p class="text-md px-2 text-title font-medium">
          {i18n.FOOTER.CONTACT_INFO.ADDRESS}
        </p>
      </div>

      <div class="flex items-center justify-start text-center pb-2">
        <Icon
          name="phone"
          size={40}
          class="text-secondary bg-green-100 rounded-full p-2"
        />
        <a class="text-xl px-2 text-title font-medium" href="tel:+18093832022"
          >{i18n.FOOTER.CONTACT_INFO.PHONE}</a
        >
      </div>

      <div class="flex items-center justify-start text-center pb-2">
        <Icon
          name="mail"
          size={40}
          class="text-secondary bg-green-100 rounded-full p-2"
        />
        <a
          href="mailto:joe_rofim@hotmail.com"
          class="text-xl px-2 text-title font-medium"
          >&#106;&#111;&#101;&#95;&#114;&#111;&#102;&#105;&#109;&#64;&#104;&#111;&#116;&#109;&#97;&#105;&#108;&#46;&#99;&#111;&#109;</a
        >
      </div>

      <h2 class="text-2xl font-bold pt-4">
        {i18n.FOOTER.CONTACT_INFO.SOCIAL_MEDIA_TITLE}
      </h2>

      <div class="flex items-center justify-start text-center pb-2">
        <Icon
          name="instagram"
          size={40}
          class="text-secondary bg-green-100 rounded-full p-2"
        />
        <a
          href="https://www.instagram.com/globalproducerofim/"
          target="_blank"
          class="text-xl px-2 font-medium text-title">@globalproducerofim</a
        >
      </div>
    </div>
    <div
      class="flex w-full h-full justify-start items-center md:justify-end px-8 py-5"
    >
      <Image src="/logo.png" alt="logo" width="300" height="163" />
    </div>
  </div>
  <div
    class="bg-black text-white flex justify-center items-center h-20 px-3 text-center"
  >
    <p>{i18n.FOOTER.COPYRIGHT}</p>
  </div>
</footer>
