---
import { getLangFromUrl, useTranslations } from "@/i18n/utils";
import { getRelativeLocaleUrl } from "astro:i18n";
import { Image } from "astro:assets";
import LanguageSelector from "@/components/LanguageSelector.astro";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
const homeURL = getRelativeLocaleUrl(lang, "/");
const aboutURL = getRelativeLocaleUrl(lang, "about");
const productsURL = getRelativeLocaleUrl(lang, "products");
const contactURL = getRelativeLocaleUrl(lang, "contact");
---

<header
  class="flex justify-center items-center fixed top-0 left-0 z-50 w-full px-10 bg-white/80 md:bg-white/70 backdrop-blur-sm"
>
  <nav
    class="flex items-center justify-between lg:justify-center w-full px-4 gap-6 py-1 text-title"
  >
    <ul
      id="nav-menu-right"
      class="hidden lg:flex gap-2 text-2xl text-center items-center"
    >
      <li class="hover:text-acent transition-colors px-4 rounded font-bold">
        <a href={homeURL}>{t("nav.home")}</a>
      </li>
      <li
        class="hover:text-acent transition-colors px-4 rounded text-nowrap font-bold"
      >
        <a href=`${aboutURL}`>{t("nav.about")}</a>
      </li>
    </ul>

    <!-- Logo centrado -->
    <div class="flex-shrink-0 mx-0 md:mx-0 sm:mx-auto py-2 px-4">
      <a href={homeURL}>
        <Image
          class="w-40 h-auto min-w-[8rem]"
          src="/logo.webp"
          alt="Logo de la empresa Tranding Global Produce Rofim"
          width="300"
          height="163"
          format="webp"
          quality={"mid"}
        />
      </a>
    </div>

    <!-- Menú de navegación derecho (oculto en móviles) -->
    <ul
      id="nav-menu-right"
      class="hidden lg:flex items-center font-bold text-2xl whitespace-nowrap"
    >
      <li class="hover:text-acent transition-colors px-4 rounded">
        <a href=`${productsURL}`>{t("nav.products")}</a>
      </li>
      <li class="text-white">
        <a
          class="hover:border-acent hover:bg-acent transition-colors px-3 rounded-4xl text-title border-2 border-title py-1"
          href=`${contactURL}`>{t("nav.contact")}</a
        >
      </li>
    </ul>
    <div class="hidden lg:flex">
      <LanguageSelector />
    </div>

    <!-- Botón de menú para móviles -->
    <button
      id="menu-toggle"
      class="block lg:hidden text-title text-5xl"
      aria-label="Toggle Menu"
    >
      ☰
    </button>
  </nav>
</header>

<script>
  import { isSideMenuOpen } from "@/store";

  const sideMenuOpen = document.getElementById("menu-toggle");

  function openSideMenu() {
    isSideMenuOpen.set(true);
  }

  sideMenuOpen?.addEventListener("click", openSideMenu);
</script>
