---
import { Icon } from "astro-icon/components";
import { getI18N } from "@/i18n";

const { currentLocale } = Astro;
const i18n = getI18N({ currentLocale });
---

<section
  class="flex w-full h-screen overflow-hidden text-left z-0 relative min-h-96 justify-items-start items-center md:items-end"
>
  <div class="z-30 relative pb-6 px-10 text-white animate-appear">
    <header class="flex flex-col flex-nowrap mb-4">
      <h1
        class="text-3xl sm:text-5xl md:text-6xl lg:text-8xl lg:pr-20 font-bold"
      >
        {i18n.HERO_HOME.HERO_TITLE}
      </h1>
      <h2 class="text-xl md:text-4xl font-semibold -mt-2 md:tracking-widest">
        {i18n.HERO_HOME.HERO_TAGLINE}
      </h2>
    </header>

    <div class="flex flex-col text-white">
      <ul class="justify-center items-start flex flex-col gap-5">
        <li class="flex justify-center items-center">
          <Icon
            class="text-primary text-3xl md:text-4xl lg:text-5xl w-20"
            name="check-bold"
          /><span
            class="font-medium text-2xl sm:text-3xl md:text-3xl lg:text-4xl w-full"
            >{i18n.HERO_HOME.P1}</span
          >
        </li>
        <li class="flex justify-center items-center">
          <Icon
            class="text-primary text-3xl md:text-4xl lg:text-5xl w-20"
            name="check-bold"
          /><span
            class="font-medium text-2xl sm:text-3xl md:text-3xl lg:text-4xl w-full"
            >{i18n.HERO_HOME.P2}</span
          >
        </li>
        <li class="flex justify-center items-center">
          <Icon
            class="text-primary text-3xl md:text-4xl lg:text-5xl w-20"
            name="check-bold"
          /><span
            class="font-medium text-2xl sm:text-3xl md:text-3xl lg:text-4xl w-full"
            >{i18n.HERO_HOME.P3}</span
          >
        </li>
        <li class="flex justify-center items-center">
          <Icon
            class="text-primary text-5xl lg:text-6xl w-20"
            name="plus-outline"
          />
          <span
            class="font-medium text-xl sm:text-3xl md:text-3xl lg:text-4xl w-full"
          >
            {i18n.HERO_HOME.P4}
          </span>
        </li>
      </ul>
    </div>
  </div>

  <div class="absolute top-0 bottom-0 w-full h-full z-10 image">
    <!-- hero background -->
  </div>
</section>

<style>
  .image {
    background-image: url("/heroBg.webp");
    height: 100%;
    width: 100%;
    background-size: cover;
    z-index: 20;
  }
</style>
