---
import { getCollection } from "astro:content";
const products = await getCollection("products");
import * as productChili from "../content/products/thaiChilli.md";
import * as productTindora from "../content/products/tindora.md";
import * as productJack from "../content/products/jackfruit.md";
---

<div class="px-4 mx-auto w-full h-auto max-w-xl pt-20">
  <div
    class="h-auto w-full text-center items-center grid grid-cols-2 grid-rows-2 border-2 border-gray-100 rounded"
  >
    <a
      href={`/product/${productJack.frontmatter.slug}`}
      class="xl:mb-0 border-r-2 border-gray-100"
    >
      <article class="flex flex-col w-full relative">
        <img
          src={`/${productJack.frontmatter.img}`}
          alt={productJack.frontmatter.title}
          class="w-full h-full block"
        />

        <div
          class="w-full h-full top-0 left-0 flex flex-col justify-end items-center pt-4 pb-1 absolute"
        >
          <h2
            class="text-md md:text-2xl font-bold leading-tight text-orange-900 bg-orange-100/80 rounded-2xl px-2 py-1 mb-2"
          >
            {productJack.frontmatter.title}
          </h2>
        </div>
      </article>
    </a>

    <a
      href={`/product/${productTindora.frontmatter.slug}`}
      class="xl:mb-0 border-b-2 border-gray-100"
    >
      <article class="flex flex-col w-full relative">
        <img
          src={`/${productTindora.frontmatter.img}`}
          alt={productTindora.frontmatter.title}
          class="w-full h-full block"
        />

        <div
          class="w-full h-full top-0 left-0 flex flex-col justify-end items-center pt-4 pb-1 absolute"
        >
          <h2
            class="text-md md:text-2xl font-bold leading-tight text-orange-900 bg-orange-100/80 rounded-2xl px-2 py-1 mb-2"
          >
            {productTindora.frontmatter.title}
          </h2>
        </div>
      </article>
    </a>

    <a
      href={`/product/${productChili.frontmatter.slug}`}
      class="xl:mb-0 border-t-2 border-gray-100"
    >
      <article class="flex flex-col w-full relative">
        <img
          src={`/${productChili.frontmatter.img}`}
          alt={productChili.frontmatter.title}
          class="w-full h-full block"
        />

        <div
          class="w-full h-full top-0 left-0 flex flex-col justify-end items-center pt-4 pb-1 absolute"
        >
          <h2
            class="text-md md:text-2xl font-bold leading-tight text-orange-900 bg-orange-100/80 rounded-2xl px-2 py-1 mb-2"
          >
            {productChili.frontmatter.title}
          </h2>
        </div>
      </article>
    </a>

    <div
      class="w-full h-full flex flex-col justify-center items-center text-white border-l-2 border-gray-100 bg-orange-900"
    >
      <p class="pb-3 px-2 text-xs md:text-xl">
        Exotic Vegetables: Asian Flavors, Premium Quality
      </p>
      <a
        href="/products"
        class="px-2 py-1 font-bold rounded-2xl text-orange-900 bg-orange-100"
        >See more ></a
      >
    </div>
  </div>
</div>
