---
import { getI18N } from "@/i18n";
import { getRelativeLocaleUrl } from "astro:i18n";
import { getLangFromUrl } from "@/i18n/utils";
import { Image } from "astro:assets";

const { currentLocale } = Astro;
const i18n = getI18N({ currentLocale });
const lang = getLangFromUrl(Astro.url);

const productChili = await import(`../content/${lang}/thaiChilli.md`);
const productTindora = await import(`../content/${lang}/tindora.md`);
const productJack = await import(`../content/${lang}/jackfruit.md`);
---

<div class="px-4 mx-auto w-full h-auto max-w-xl pt-20">
  <div
    class="h-auto w-full text-center items-center grid grid-cols-2 grid-rows-2 border-2 border-gray-100 rounded"
  >
    <a
      href={`${getRelativeLocaleUrl(lang, "product")}${productJack.frontmatter.slug}`}
      class="xl:mb-0 border-r-2 border-gray-100"
    >
      <article class="flex flex-col w-full relative">
        <Image
          src={`/${productJack.frontmatter.img}`}
          alt={productJack.frontmatter.title}
          class="w-full h-full block"
          width={600}
          height={600}
          format="webp"
          quality={"mid"}
        />

        <div
          class="w-full h-full top-0 left-0 flex flex-col justify-end items-center pt-4 pb-1 absolute"
        >
          <h2
            class="text-md md:text-2xl font-bold leading-tight text-orange-900 bg-orange-100/80 rounded-2xl px-2 py-1 mb-2"
          >
            {productJack.frontmatter.title}
          </h2>
        </div>
      </article>
    </a>

    <a
      href={`${getRelativeLocaleUrl(lang, "product")}${productTindora.frontmatter.slug}`}
      class="xl:mb-0 border-b-2 border-gray-100"
    >
      <article class="flex flex-col w-full relative">
        <Image
          src={`/${productTindora.frontmatter.img}`}
          alt={productTindora.frontmatter.title}
          class="w-full h-full block"
          width={600}
          height={600}
          format="webp"
          quality={"mid"}
        />

        <div
          class="w-full h-full top-0 left-0 flex flex-col justify-end items-center pt-4 pb-1 absolute"
        >
          <h2
            class="text-md md:text-2xl font-bold leading-tight text-orange-900 bg-orange-100/80 rounded-2xl px-2 py-1 mb-2"
          >
            {productTindora.frontmatter.title}
          </h2>
        </div>
      </article>
    </a>

    <a
      href={`${getRelativeLocaleUrl(lang, "product")}${productChili.frontmatter.slug}`}
      class="xl:mb-0 border-t-2 border-gray-100"
    >
      <article class="flex flex-col w-full relative">
        <Image
          src={`/${productChili.frontmatter.img}`}
          alt={productChili.frontmatter.title}
          class="w-full h-full block"
          width={600}
          height={600}
          format="webp"
          quality={"mid"}
        />

        <div
          class="w-full h-full top-0 left-0 flex flex-col justify-end items-center pt-4 pb-1 absolute"
        >
          <h2
            class="text-md md:text-2xl font-bold leading-tight text-orange-900 bg-orange-100/80 rounded-2xl px-2 py-1 mb-2"
          >
            {productChili.frontmatter.title}
          </h2>
        </div>
      </article>
    </a>

    <div
      class="w-full h-full flex flex-col justify-center items-center text-white border-l-2 border-gray-100 bg-orange-900"
    >
      <p class="pb-3 px-2 text-xs md:text-xl">
        {i18n.TABS.TAB_ORIENTAL.TAB_P}
      </p>
      <a
        href={getRelativeLocaleUrl(lang, "products")}
        class="px-2 py-1 font-bold rounded-2xl text-orange-900 bg-orange-100"
        >{i18n.TABS.TAB_ORIENTAL.TAB_LINK}</a
      >
    </div>
  </div>
</div>
